<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Video Platform</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <img class="header__img" src="../../assets/play-icon.png" alt="Video Platform" />
        <h3>Video<strong>Platform</strong></h3>
      </div>
      <div class="header__menu">
        <div class="header__menu--profile">
          <img src="../../assets/user-icon.png" alt="" />
          <p>Perfil</p>
        </div>
        <ul>
          <li><a href="/">Cuenta</a></li>
          <li><a href="/">Cerrar Sesión</a></li>
        </ul>
      </div>
    </header>

    <section class="not-found">
      <h1 class="animated pulse">404</h1>
      <p>Página no encontrada</p>
    </section>

    <footer class="footer">
      <a href="/">Términos de uso</a>
      <a href="/">Declaración de privacidad</a>
      <a href="/">Centro de ayuda</a>
    </footer>
  </body>
</html>
